<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Loan Request Denied</title>
</head>
<body>
    <h1>Hello {0}!</h1>
    <p>
        This is to inform you that your loan request has been denied as follows:  <br />

        Type of Loan: <b>{5}</b> <br />
        Amount Requested: <b>{1}</b> <br />
        Purpose: <b>{3}</b> <br />
        Tenure: <b>{4}</b> <br />

        This is due to {2}

    </p>
    <p>Please call us on <a href="tel:{6}">{6}</a>  for clarification or visit your Overview Page to refer to our FAQs for more information.  </p>
    <p>
        Best regards 🙂,
        The PallyWad Capital Team
    </p>
</body>
</html>