<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        Interest Payment Confirmation!

    </title>
</head>
<body>
    <h1>Dear {0}!</h1>
    <p>
        This is to inform you that your interest payment was received as follows:
    </p>
    <p>
        Payment Details:
        <br />
        Interest Paid: {1} <br />
        Date Received: {2}< br/>

        Your account with us will be updated accordingly.



    </p>
    <p>
        Best regards, 🙂 <br />
        PallyWad Capital Team
    </p>
    <p></p>
</body>
</html>