<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Loan Capital Payment Approval</title>
</head>
<body>
    <h1>Hello {0}!</h1>
    <p>
        Exciting news! 🙂 We're delighted to inform you that your loan capital payment with PallyWad Capital has been confirmed and approved.
    </p>
    <p>
        Here are the details: <br />
        Approved Loan Capital Amount: {1} <br />
        Terms and Conditions: {2} <br />
        If you have any questions, feel free to contact our support team.<br />
        Congratulations on this milestone! We look forward to supporting your financial journey.<br />


    </p>
    <p>
        Best regards, <br />
        The PallyWad Capital Team
    </p>
    <p></p>
</body>
</html>