<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Loan Request</title>
</head>
<body>
    <h1>Hello {0}!</h1>
    <p>
        After careful consideration, we regret to inform you that your loan application has not been approved at this time. <br />
        
        Kindly login {2} to your dashboard to see reasons why. If you have any questions or would like more information, please contact our support team.
        
    </p>
    <p>
        Best regards 🙂,
        The PallyWad Capital Team
    </p>
</body>
</html>