<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hello</title>
</head>
<body>
    <h1>Hello {0}!</h1>
    <p>
        <!--We hope this tutorial will come in handy for your ASP.NET Core project 🙂-->
        Welcome to PallyWad Capital! We're thrilled to have you on board. Your journey to financial empowerment begins now.
    </p>
    <p>
        <b>Here's a quick overview of what to expect:</b><br />
        Complete Your Profile: Log in to your account and complete your profile to ensure a smooth loan application process.
        <br />
        Explore Our Services: Discover our innovative lending solutions designed to empower your dreams and fuel your growth.
        <br />
        Ready to get started? <a href="{1}">Login Now</a>
    </p>
    <p>If you have any questions or need assistance, our support team is here to help.</p>
    <p>
        Best regards  🙂 <br />
        The PallyWad Capital Team
    </p>
</body>
</html>