<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        Loan Re-Payment Confirmation!
    </title>
</head>
<body>
    <h1>Dear {0}!</h1>
    <p>
        This is to inform you that your interest payment for your running loan is due as follows:

    </p>
    <p>
        Payment Terms:
        <br />
        <span>Loan Amount: {1}</span> <br />
        <span>Interest Rate: {2}</span> <br /> 
        <span>Interest Amount: {3}</span> <br />
        <span>Interest Payment:  Monthly, due last day of every month </span> <br />
        <span>Capital Repayment: At maturity</span> <br />
        <span>Maturity Date: {4}</span> <br />
        <span>Interest Amount Due: {5}</span> <br />

    </p>
    <p>
        Best regards, 🙂 <br />
        PallyWad Capital Team
    </p>
    <p></p>
</body>
</html>