<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PallyWad Bank Account</title>
</head>
<body>
    <h1>Dear {0}! </h1>
    <p>
        Kindly make payment into the account below:
    </p>
    <p>
        <b>Account Details</b><br />
        <span>Bank Name: </span><span><b>{1}</b></span>
        <br />
        <span>Account Name: </span><span><b>{3}</b></span>
        <br />
        <span>Account Number: </span><span><b>{2}</b></span><br />

    </p>
    <p>
        Best Regards  🙂 <br />
        PallyWad Capital Team
    </p>

</body>
</html>