<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Loan Request</title>
</head>
<body>
    <h1>Dear {0}! </h1>
    <p>
        This is to acknowledge receipt of your loan request as follows:
    </p>
    <p>
        <b>Loan Details</b><br />
        <span>Type of Loan: </span><span><b>{3}</b></span>
        <br />
        <span>Amount Requested: </span><span><b>{1}</b></span>
        <br />
        <span>Purpose: </span><span><b>{4}</b></span><br />
        <span>Tenure: </span><span><b>{5}months</b></span><br />
        <span>Proposed Interest Rate: </span><span><b>{6}%</b></span>

    </p>
    <p>
        <b>Collateral Details</b><br />
        <span>Collateral Type: </span><span><b>{7}</b></span><br />
        <span>Collateral Value: </span><span><b>{8}</b></span>

    </p>
    <p>We will review your loan request details and revert shortly.</p>
    <p>
        Best Regards  🙂 <br />
        PallyWad Capital Team
    </p>

</body>
</html>